/* ALL CUSTOM STUFF GOES IN THIS FILE NOT THE OTHERS */

// $gray-base:              #000;
// $gray-darker:            #222;
// $gray:                   #454545;
// $gray-light:             #999;
// $gray-lighter:           #EBEBEB;

$brand-primary:         #286068;
$brand-success:         #10c090;
$brand-info:            #3498DB;
$brand-warning:         #F39C12;
$brand-danger:          #E74C3C;

$font-size-base:  18px;
$jumbotron-font-size: 18px;

$navbar-height: 52px;

// todo: make navbar a little smaller
.navbar-default {
  // moved slightly down 2px so darker on bottom
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.8);
  // height: 54px !important;
}

body {
//   /* So it's not fixed to the top */
//   min-height: 75rem;
//   /* padding-top: 88px; */
//   /* background:#111 url(/s/img/noise.png); */

//   background: black url("/s/img/wallpapernofishing.jpg") no-repeat fixed;
  
//   /* background-position: 0px -100px; */
//   background-size: cover;
  background-color: #181818 !important;
}

.navbar {
  margin-bottom: 0px !important;
}

#bodycontainer {
  padding-top:25px;
  /* background-color: rgba(0,0,0,0.6); */
  background:#111 url(/s/img/noise.png);
}

.well, .jumbotron {
  background-color: #252525 !important;
}

/*note: added outline: none !important; to bootstrap.min.css .btn*/

/* latin-ext */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.gstatic.com/s/righteous/v5/eJYqrhUff1n1Ge9A-rSw_BJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.gstatic.com/s/righteous/v5/w5P-SI7QJQSDqB3GziL8XVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

// make sure we have it lol
@import url("https://fonts.googleapis.com/css?family=Lato");


// @font-face {
//   font-family: AveriaSerif;
//   src: url('/fonts/AveriaSerif-Bold.ttf'); /* Laviossa-Medium.otf Universal Serif.ttf */
// }

// .titlebar {
//   background: black url("/s/img/wallpapernofishing.jpg") no-repeat fixed;
//   /* background-position: 0px -100px; */
//   background-size: cover;
//   height: 96px; /*88px;*/
// }

.titlebar {
	background: #393939;
	background-image: url("/s/img/titlebackground.png");
  background-repeat: repeat-x;
	background-size: auto 100%; //cover;
  background-position: center;
	height: 88px;
	>.container {
		>h1 {
			font-family: Righteous;
      padding-left: 10px;
			font-size: 56px;
			cursor: pointer;
			text-shadow: 0 4px 8px #000;
		}
	}
}

/* todo: make it like stuck to the navbar and slightly on top of it, also use <a> */
@media screen and (max-width: 767px) {
  .titlebar>.container>h1{
      font-size: 20px;
  }
}

.navbar {
  min-height: 0px !important;
}

// .navbar-nav>li>a {
//   padding-top: 8px;
//   padding-bottom: 8px;
// }

.navbar-nav>li:hover {
  background-color: rgba(0,0,0,0.3);
}

// idk what this is
#navbar {
  padding: 0px !important;
}

.fake-button{
  pointer-events:auto !important;
  -webkit-user-select:text !important;
  -moz-user-select:text !important; 
  -ms-user-select:text !important;
  user-select:text !important;
  cursor:auto !important;
}

.bancard {
  width:600px;
  display:inline-block;
}

.steamcard {
	max-width:600px;
	display:inline-block;
	cursor: pointer;
}

.steamcard:hover {
    box-shadow: 0px 0px 16px #ffffff;
}

td {
	padding: 4px !important;
}

.underline {
	text-decoration: underline;
}

.server-thumbnail {
  clear: both;
  padding-top: 1em;
  padding-left: 80px;
}

.progress {
	height: 20px;
	margin: 20px;
}


/*STUFF FROM BOOTSWATCH TUTORIAL*/
@import "_variables";
@import "assets/stylesheets/_bootstrap";
@import "_bootswatch";



